{#
Variaables:

  conference: the conference (NodeInterface)
  type: the type (string)
  entities: the entities (list of NodeInterface)
#}

<div class="conference-entity-list conference-entity-list-{{ type }}">
  <div class="actions">
    {% if create_url|default(false) %}
      <a class="button button--small" href="{{ create_url }}">{{ 'Add @type'|t({'@type': type}) }}</a>
    {% endif %}
  </div>

  <table>
    {% for entity in entities %}
      <tr>
        <td>{{ entity.title[0].value }}</td>
        <td class="actions">
          {# @TODO Check edit access on node. Using `node.access('update', user)` is not allowed. #}
          <a href="{{ path('entity.node.edit_form', {node: entity.id}) }}">{{ 'Edit'|t }}</a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
